* {
    box-sizing: border-box;
    padding: 0px;
}

:root{
    --Dark_cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very_dark_blue: hsl(212, 21%, 14%);
    --Grayish_blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --Fraunces: 'Fraunces', serif;
    --Montserrat: 'Montserrat', sans-serif;

}

body{
    background-color: var(--Cream); 
    
}


.product-heading{
    letter-spacing: 1px;
    font-family: var(--Montserrat);
    font-size: 25px;
    color: var(--Grayish_blue);
    margin-left: 20px;
    
}
.product-description{
    line-height: 25px;
    font-size: 19px;
    color: var(--Grayish_blue);
    font-family: var(--Montserrat);
    margin-left: 20px;

}
.ab{
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 400px;
    
}
.about-product{
    background-color: var(--White);
    
  
}

.product-name{
    font-size: 50px;
    font-family: var(--Fraunces);
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.product-icon-desktop{
    width: 400px;
    border-radius: 5px;
}
.product-price{
    margin-left: 20px;
    margin-bottom:15px;
}


.bonus-price{
    font-family: var(--Fraunces);
color:var(--Dark_cyan);
font-size:40px;
}
.original-price{
    text-decoration: line-through;
    padding-left: 10px;
    color: var(--Grayish_blue);
    font-family: var(--Montserrat);
}
button{
    background-color: var(--Dark_cyan);
    color: var(--White);
    font-family: var(--Montserrat);
    padding: 20px;
    margin-left: 33px;
    margin-bottom: 15px;
    border-style: none;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    font-size: 15px;
}
button:hover{
    background-color: hsl(158, 45%, 20%);
}
img{
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
}
.fa-cart-shopping{
    margin-right: 10px;
}
section{
    display: flex;
    /* width: 400px;
    margin-left: 90px; */
   border-radius: 13px;
}


@media(max-width:414px){
  section{
    flex-direction: column;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
  
  }
.product-icon-mobile{
width: 100%;
} 
  .product-icon-desktop{
    display: none;
  }
  .ab{
    margin:0;
    padding: 0;
    
  }
 
.product-heading{
    font-size: 15px;
}

}

@media(min-width:415px){
    .product-icon-mobile{
        display: none;
    }
}